@media screen and (max-width: 1920px) {
	.cloud_banner>img{
		width:100%;
	}
	.cloud_product_list>ul>li>img{
		width:100%;
		height:460px;
	}
	.cloud_product_list>ul>li{
		margin:0 20px;
	}
	.product_list_content .goods_plan{
			padding:25px 20px 10px;		
	}
	.goods_plan_list,.goods_detail,.goods_price{
			font-size:24px;
	}
	.goods_plan_list{
		padding: 20px 0 16px;
	}
	.goods_detail>ul>li{
		line-height:34px;
	}
	.goods_plan>h3{
		font-size:26px;
	}
	.memory{
		padding:16px;
	}
	.first_goods_price{
		margin-top:68px;
	}
	.pub_title>h2{
		font-size:32px;
	}
	.product_advantage_pic{
		width:350px;
		height:180px;
		background:url('../img/box1.png') no-repeat;
		background-size:100% 100%;
		text-align: center;
	}
	.product_advantage_pic>img{
		width: 132px;
    height: 132px;
    margin-top: 20px;
	}
	.product_advantage_content_list{
		margin:67px;
	}
	.product_advantage_desc>p{
		width:350px;
	}
	.product_advantage_desc>p{
		font-size: 21px;
    line-height: 33px;
	}
	.product_advantage_desc>h3{
		font-size:25px;
	}
	
}
@media screen and (max-width: 1366px) {
	.cloud_banner>img{
		width:100%;
	}
	.cloud_product_list>ul>li>img{
		width:180px;
		height:260px;
	}
	.cloud_product_list>ul>li{
		margin:0 10px;
	}
	.product_list_content .goods_plan{
			padding:16px 20px 10px;		
	}
	.goods_plan_list,.goods_detail,.goods_price{
			font-size:12px;
	}
	.goods_plan_list{
		padding: 10px 0 6px;
	}
	.goods_detail>ul>li{
		line-height:18px;
	}
	.goods_plan>h3{
		font-size:14px;
	}
	.memory{
		padding:12px 18px;
	}
	.first_goods_price{
		margin-top:46px;
	}
	.pub_title>h2{
		font-size:24px;
	}
	.pub_title>p{
		font-size:13px;
	}
	.product_advantage_pic{
		width: 218px;
    height: 98px;
		background:url('../img/box1.png') no-repeat;
		background-size:100% 100%;
		text-align: center;
	}
	.product_advantage_pic>img{
		width: 80px;
    height: 80px;
    margin-top: 8px;
	}
	.product_advantage_content_list{
		margin: 30px 60px;
	}
	.product_advantage_desc>p{
		width:218px;
	}
	.product_advantage_desc>p{
		font-size:13px;
		line-height: 21px;
	}
	.product_advantage_desc>h3{
		font-size:15px;
	}
}
.pub_title{
	text-align: center;
}

.pub_title>p{
	color:#646464;
	margin:10px 0 20px;
}

.fadeInUp {
      animation-name: fadeInUp;
    }
    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    @keyframes fadeInUp{
      0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }

      100% {
        opacity: 1;
        transform: none;
      }
    }


.cloud_product{
	padding:50px;
	text-align: center;
	background:#fff;
}
.cloud_product_list{
	padding:20px;
}
.cloud_product_list>ul>li{
	position:relative;
	display:inline-block;	
}
.cloud_product_list>ul>li:hover{
	-moz-box-shadow:1px 1px 8px #333; 
	-webkit-box-shadow:1px 1px 8px #333; 
	box-shadow:1px 1px 8px #333; 
	
}
.cloud_product_list>ul>li>div.product_list_content{
	position:absolute;
	top:0px;
	height:0px;
	width:100%;
	height:100%;
	color:#fff;	
}


.goods_plan_list{
	border-bottom: 1px solid #ECEAED;
}
.goods_plan>h3,.goods_plan_list>li:nth-child(1),.goods_pub{
    font-weight:bold;
}
.goods_pub{
	padding-bottom:6px;
}
.goods_plan_list>li:nth-child(1){
		padding:3px 0;
}
/*产品优势*/
.product_advantage{
		padding:40px;
		background:#f6f6f6;
}
.product_advantage_content{
	width:80%;
	margin:0 auto;
}
.product_advantage_desc>h3{
	text-align:center;
	padding:10px;
}





