.excellent-case{
  max-width: 1724px;
  margin:25px auto;
}
.excellent-case>div{
  padding: 0 10px
}
.link-case{
  position: relative;
  display: block;
  vertical-align: middle;
  margin: 20px auto 25px auto;
  width: 90%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden !important;
}
.active{
  transform: scale(1.1) !important;
  transition: all .3s ease-out !important;
}
.link-case>div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scale(1);
  transition: all .3s ease-out;
}
@media screen and (max-width: 1920px) {
  .link-case-des{
    margin: 40px auto 0 auto;
    font-size: 16px;
  }
  .link-case-title{
    font-size: 20px;
  }
}
@media screen and (max-width: 1366px) {
  .link-case-des{
    margin: 0 auto;
    font-size:14px;
  }
  .link-case-title{
    font-size: 18px;
  }
}
.link-case>div>p{
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: #000;
  opacity: 0.5;
  overflow: hidden;
  color:#fff;
}
.link-case>div>p span{
  width: 100%;
  display: block;
}
.link-case>div>p .link-case-title{
  height: 60px;
  line-height: 60px;
}
.tit-cur{
  margin-top: 20px;
}
.link-case-des{
  width: 60% !important;
  /*font-size: 14px;*/
  text-align: justify;
}
.service_title{
  padding-top: 40px;
  text-align: center;
}
.service_title p{
  margin:0;
}
.service_title h5{
  font-size:40px;
}
.hidden {
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp{
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.banner img{
  width: 100%;
}