
.nav-top{
	position: relative;
}
.nav-list{
	position:absolute;
	top:0px;
	left:50%;
	z-index: 9999;
	/*width:1200px;*/
	/*margin-left:-600px;*/
	/*width: 82%;
    margin-left: -41%;*/
}
#nav-list{
	width:100%;
	left:0px;
	margin-left:0px;
	background:#fafafa;
}

#nav-list>.nav-header>ul>li.on a{
	color:#4d9feb;
}
.nav-list>.nav-header>ul>li{
	display:inline-block;
	padding:20px;
}
.nav-list>.nav-header>ul>li:hover{
	border-bottom:2px solid #fff;
}
.nav-list>.nav-header>ul>li>a:hover{
	text-decoration: none;
}
#nav-list>.nav-header>ul>li:hover{
	border-bottom:2px solid #4d9feb;
}
#nav-list>.nav-header>ul>li:hover a{
	color: #4d9feb;
}
#nav-list>.nav-header>ul>li>a{
	color:#333;
}

@media screen and (max-width: 1920px) {
	.nav-list>.nav-header>h1>img{
		width:230px;
		padding: 15px 0;
	}
	#nav-list>.nav-header>ul>li>a{
		font-size:24px;
	}
	.nav-list{
		width:1380px;
		margin-left:-690px;
	}
	#nav-list .nav-header{
		/*width:80%;*/
		width:1380px;
		margin:0 auto;
	}
	.nav-list>.nav-header>ul>li>a{
		color:#fff;
		font-size:24px;
	}
}
@media screen and (max-width: 1366px) {
	.nav-list{
		width:1000px;
		margin-left:-500px;
	}
	#nav-list .nav-header{
		/*width:80%;*/
		width:1000px;
		margin:0 auto;
	}
	.nav-list>.nav-header>h1>img{
		width:78%;
		padding: 15px 0;
	}
	#nav-list>.nav-header>h1>img{
		width:161px;
		padding: 15px 0;
	}
	#nav-list>.nav-header>ul>li>a{
		font-size:15px;
	}
	.nav-list>.nav-header>ul>li>a{
		color:#fff;
		font-size:15px;
	}
	
}

.nav-header ul{
	margin: 0 !important;
}
.nav-header h1{
  margin:0 !important;
  height: 70px !important;
  line-height: 70px !important;
}
h1 img{
	vertical-align: middle;
}

.nav-list>.nav-header>ul>li:last-child{
	padding-right:0px;
}

.swiper-wrapper .swiper-slide img{
	width:100%;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 60px;
    height: 8px;
    display: inline-block;
    border-radius: 10px;
    background: #fff;
    opacity: .2;
}
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.content{
	height:300px;
}